.btn {
  border: 0;
  outline: 0;
  padding: .5rem 1rem;
  border-radius: 5rem;
  cursor: pointer;
  font-family: 'Open Sans';
  font-size: 0.875‬rem;
  font-weight: 700;
  background: var(--gradient-btn);
  color: var(--white-color);
}